@font-face {
    font-family: 'Montserrat-Bold';
    src: url(../asset/font/Montserrat-Bold.ttf);
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url(../asset/font/Roboto-Regular.ttf);
}

html,
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-bg {
    background-image: url(../asset/img/bg2.png);
    height: 100vh;
    background-size: cover;

}

.main__overlay {
    background-image: url(../asset/img/Overlay.png);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {

    width: 920px;
    height: 820px;
    border-radius: 30px;
    box-shadow: 0 0 36px 4px rgba(44, 22, 29, 0.3);
    background-color: #fff;
    position: relative;
}



.form__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 920px;
    height: 432px;
    box-shadow: inset 0 0 9px 1px rgba(1, 1, 1, 0.17);
    background-color: #f8f8f8;
}


.footer__btn {

    width: 208px;
    height: 66px;
    background-color: #16ba98;
    border: 0;
    font-family: 'Roboto-Regular';
    font-size: 24px;
    font-weight: 400;
    color: #ffffff;
    position: absolute;
    bottom: -31px;
    right: 350px;

}

.footer__btn:hover {
    background-color: #109278;
}


.footer__btn-link {
    text-decoration: none;
    color: #ffffff;
}

.header__btn-img {

    width: 16px;
    height: 16px;
}

.header__btn {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #e10101;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -19px;
}

.title {
    font-family: 'Montserrat-Bold';
    font-size: 38px;
    font-weight: 700;
    color: #0e1010;
    margin-top: 22px;
    position: relative;
}

.menu-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 300px;
    position: relative;
}

.menu-list__link {
    font-family: 'Roboto-Regular';
    font-size: 12px;
    font-weight: 400;
    color: #b8b9b9;
    text-decoration: none;
}

.menu-list__link:hover {
    color: #767777;

}

.form__header {
    width: 920px;
    height: 205px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.form__footer {
    display: flex;
    justify-content: center;
}

.footer__input {
    width: 320px;
    height: 40px;
    border: 2px solid #ebebeb;
    background-color: #f8f8f8;
    margin-top: 40px;
}

.input-check {
    margin-top: 40px;
    margin-left: 20px;

}

.menu-list::before {
    content: "";
    width: 63px;
    height: 7px;
    background-image: url(../asset/img/wave.png);
    position: absolute;
    right: 117px;
    bottom: 35px;
}

.title::before {
    content: "";
    display: inline-block;
    width: 63px;
    height: 7px;
    background-image: url(../asset/img/wave.png);
    position: absolute;
    left: 209px;
    top: 64px;
}

.main-input {
    width: 500px;
    height: 40px;
    border: 2px solid #ebebeb;
    background-color: #ffffff;
    padding-left: 30px;
    margin-bottom: 22px;

}

.main-input:hover,
textarea:hover {
    background-color: #f8f8f8;

}

textarea {
    width: 500px;
    height: 147px;
    border: 2px solid #ebebeb;
    background-color: #ffffff;
    resize: none;
    padding-left: 30px;
    padding-top: 15px;
}

::-webkit-input-placeholder {
    font-family: 'Roboto-Regular';
    font-size: 16px;
    color: #bdbdbd;
    font-weight: 400;
}